name: Source build CI

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker
        run: docker pull ghcr.io/nkito/i960_sbc:latest
      - name: Build test
        run: docker run --rm -v $GITHUB_WORKSPACE:/src -w /src/sample_hello i960sdk ./build.sh
