name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/docker-image.yml'
      - 'docker_cross/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/docker-image.yml'
      - 'docker_cross/**'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the Docker image
      run: docker build . --file docker_cross/Dockerfile --tag ghcr.io/$GITHUB_ACTOR/i960_SBC:latest
    - name: Push Docker Image
      run: docker push ghcr.io/$GITHUB_ACTOR/i960_SBC:latest
